.site {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
  margin: 1rem 1.25rem;
}

.site-icon {
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.116);
  cursor: pointer;
}

.site-icon img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
}

.site-name {
  color: #fff;
  height: 1.6rem;
  width: 8rem;
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}