@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1636965752821') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e6ac";
}

.icon-arrowdown:before {
  content: "\e6b6";
}

.icon-angle-right:before {
  content: "\e844";
}

.icon-angle-down:before {
  content: "\e845";
}

