.site-list-content {
  margin-bottom: 3rem;
  width: 100rem;
}

.list-header {
  width: 100%;
}

.site-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-header {
  font-size: 2rem;
  color: white;
}

.open-button {
  background-color: transparent;
  color: white;
  margin-right: 0.5rem;
  margin-left: 2rem;
  cursor: pointer;
}

.open-button-icon {
  font-size: 1.7rem;
}

.hidden {
  display: none;
}







