.search {
  width:50%;
  height: 5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 999px;
  overflow: hidden;
  padding-left: 2rem;
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.205);
}

.search-input {
  flex-shrink: 1;
  width: 100%;
  height: 2rem;
  background-color: transparent;
  font-size: 1.6rem;
}

.search-input::placeholder {
  color: rgb(206, 206, 206);
}

.search-button {
  width: 6rem;
  height: 100%;
  flex-shrink: 0;
  background-color: transparent;
  cursor: pointer;
}