
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Noto Sans SC;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(240, 240, 240);
  background-attachment: fixed;
  background-size: cover;
}

.main-body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width:1000px){
  .site-list-content {
    width: 75rem;
  }
}

@media screen and (max-width:750px){
  .site-list-content {
    width: 50rem;
  }
}

@media screen and (max-width:500px){
  .site-list-content {
    width: 25rem;
  }

  .search {
    width: 65%;
    margin-bottom: 5rem;
  }
}