* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(109, 197, 238);
  background-attachment: fixed;
  background-size: cover;
}

.main-body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}